body {
  margin: 0;
  background: #c1fdfd;
}


.welcome-section {
  text-align: center;
  padding: 40px;
  margin: 0;

  background: #48cae4;
}


.welcome-section h2 {
  color: white;
}

.dogs-section {
  padding: 40px;
  background-color: #b0e0e6 ;
}

.dogs-section h2 {
  text-align: center;
  margin-bottom: 30px;
}
.search-section {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color:#caf0f8 ;
  padding: 40px 0;

}

.search-section input {
  width: 350px;

  padding: 12px 18px;

  border: 2px solid #0096c7;



  border-radius: 30px;

  font-size: 1rem;
}

.search-section button {
  padding: 12px 25px;

  border: none;

  border-radius: 30px;

  color: white;

  background: blue;

  cursor: pointer;
}
body {
  background: #f4fcff;
}

.home-content {
  background:
  linear-gradient(
    to bottom,
    #f4fcff,
    #eafcff
  );

  /* padding-bottom: 50px; */
}
.stats-section {

  display: flex;

  justify-content: center;

  gap: 60px;

  background-color: #0077b6;

  padding: 40px;

}

.stats-section div {
  text-align: center;
}
