.login-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(
    "https://www.thesprucepets.com/thmb/nAfZqzn_BhMmJ2z2rmbGkO439xM=/4000x0/filters:no_upscale():strip_icc()/spruce-pets-200-types-of-dogs-45a7bd12aacf458cb2e77b841c41abe7.jpg"
  );

  background-size: cover;
}

.login-form {
  width: 400px;

  background: rgba(255,255,255,0.95);

  padding: 40px;

  border-radius: 15px;

  display: flex;
  flex-direction: column;

  gap: 15px;
}

.login-form input {
  padding: 12px;
}

.login-form button {
  background: #317cb7;
  color: white;

  border: none;

  padding: 12px;

  cursor: pointer;
}